<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h2>Messages</h2>
    <form method="post" action="/add_message">
        <label>
            Введите Ваше имя
            <input type="text" name="text">
        </label>
        <label>
            Введите Вашу фамилию
            <input type="text" name="tag">
        </label>
        <button type="submit">Add message</button>
    </form>

    <h3>Message list</h3>
{#    {% for message in messages %}#}
{#    <div>{{ message.text }}&nbsp;<i>{{ message.tag }}</i></div>#}
{#    {% endfor %}#}
</body>
</html>